<h2 class="title"><%= t ".title" %></h2>

<ul>
  <li><%= link_to 'Calendars', calendars_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Releases', release_events_path %></li>
  <li><%= link_to 'Tags', tags_path %></li>
  <li><%= link_to 'Alerts', dashboard_path('alerts') %></li>
  <li><%= link_to 'Histories', histories_path %></li>
  <li><%= link_to 'Settings', settings_path %></li>
</ul>

<h3>debug</h3>
<ul>
  <li><%= link_to 'Rails admin', '/rails_admin/' %></li>
  <li><%= link_to 'Compare calendars', dashboard_path('compare_calendars') %></li>
</ul>
