<div class="alert alert-success">
<p>
Welcome to the minefield &mdash; VOCALENDAR Core system!<br>
新 VOCALENDAR コアシステムにようこそ！
</p>
<p>
このシステムはまだまだ開発中なので色々なことが起きるかもしれません。
変な挙動を見つけたら是非報告して下さいね。
</p>
</div>

<p>
  まだまともなメニューはないので、下か上からてきとうーに選んで下さい。
</p>

<h2 class="title"><%= t ".title" %></h2>

<h3><%= t ".recent_created_events" %></h3>

<%=
   t = Date.today
   events = Event.active.where("created_at >= ?", t-30.days)
   graph_count_by_date events, :created_at, (t-30.days)..t
%>

<%=
   @events = Event.reorder('created_at desc').limit(5)
   render 'events/list'
%>

<h3>外部呼び出し用UIテスト</h3>
<ul>
  <li><%= link_to 'Event list', external_ui_events_path %></li>
  <% if e = Event.order('updated_at desc').limit(1).last %>
  <li><%= link_to 'Detail view', external_ui_event_path(e.id) %></li>
  <% end %>
  <li><%= link_to 'Release Event list', external_ui_release_events_path %></li>
</ul>

<h3>直接公開フォーム (TODO)</h3>
<ul>
  <li></li>
  <li></li>
</ul>

