<section id="VS_detailContainer">

<h2 id="VCLsearchDetailTitle"><%= t ".title" %></h2>
<article class="EventDetail">
  <article class="VCLevent" id="datepanel">
    <section class="body">
      <h1 class="title"><%= @event.summary %></h1>
      <div class="start">
        <p class="date"><%= l @event.start_date %></p>
        <% unless @event.allday? %>
        <p class="time"><%= @event.start_datetime.strftime("%H:%M") %></p>
        <% end %>
      </div>
      <% if @event.has_end_time? %>
      <div class="end clearfix">
        <p class="date"><%= l @event.end_date %></p>
        <% unless @event.allday? %>
        <p class="time"><%= @event.end_datetime.strftime("%H:%M") %></p>
        <% end %>
      </div>
      <% end %>
      <p class="where"><%= @event.location %></p>
    </section>
    <aside class="badge">
      <% sd = @event.start_datetime %>
      <p class="month"><%= sd.strftime("%Y/%b") %></p>
      <p class="day"><%= sd.strftime("%d") %> </p>
      <p class="dow"><%= sd.strftime("%a").upcase %></p>
    </aside>
  </article>
  <article class="description clearfix">
    <div class="remote-embed-widget" style="float: right;">
    <% @event.related_links.each do |link| # TODO: primari_uri を先に見る! helper に移動!! %>
    <% if link.type == 'ExLink::Amazon' %>
       <iframe src="http://rcm-jp.amazon.co.jp/e/cm?t=<%= Setting.amazon_tracking_id %>&o=9&p=8&l=as1&asins=<%= link.asin %>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=41A587&bc1=cccccc&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
       <% break %>
    <% end %>
    <% if link.type == 'ExLink::NicoVideo' && link.video_id.to_s[0..1] == 'sm' %>
       <iframe width="312" height="176" src="http://ext.nicovideo.jp/thumb/<%= link.video_id %>" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/watch/<%= link.video_id %>"><%= link.title %></a></iframe>
       <% break %>
    <% end %>
    <% if link.type == 'ExLink::NicoVideo' && link.video_id.to_s[0..1] == 'lv' %>
      <iframe width="312" height="176" src="http://live.nicovideo.jp/embed/<%= link.remote_id %>" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://live.nicovideo.jp/watch/<%= link.remote_id %>"><%= link.title %></a></iframe>
       <% break %>
    <% end %>
    <% end %>
    </div>
    <%= simple_format auto_link(@event.description) %>
  </article>
</article>

<%= event_gcal_copy_link @event, nil, :class => 'VCL_exec_button' %>

</section>

