<h2>Admin Index Stub!!!</h2>

<ul>
  <li><%= link_to 'Calendars', calendars_path %></li>
  <li><%= link_to 'Events', events_path %></li>
  <li><%= link_to 'Tags', tags_path %></li>
  <li><%= link_to 'Settings', settings_path %></li>
  <ul>
    <li><%= link_to 'Set Master Auth ID', :action => 'set_master_auth' %></li>
  </ul>
</ul>
