<h2><%= t ".title" %></h2>
<p><%= t ".description" %></p>
<p><%= t ".set_redirect_url" %>:<br>
 <tt><%= request.protocol + request.host_with_port %>/auth/google_oauth2/callback</tt></p>

<%= form_tag url_for(:action => 'update_appid') do %>
  <%= label :setting, :google_api_client_id %>
  <%= text_field :setting, :google_api_client_id %>
  <%= label :setting, :google_api_secret %>
  <%= text_field :setting, :google_api_secret %>
  <%= submit_tag %>
<% end %>
<p><strong><%= t ".change_notice" %></strong></p>

