<%= form_for(@user) do |f| %>

<div class="well">
  <%= f.submit :class => 'btn btn-primary' %> 
  <%= link_to t('general.show'), user_path(@user), :class => 'btn' if can? :show, @user %> 
  <%= link_to t('general.back_to_list'), users_path, :class => 'btn' if can? :index, User %>
</div>

<%= f.label :name %>
<%= f.text_field :name, :class => 'input-xlarge' %>

<%= f.label :email %>
<%= f.text_field :email, :class => 'input-xlarge' %>

<% if user_signed_in? && current_user.admin? %>
<%= f.label :role %>
<%= f.select :role, User.role.options, :include_blank => true %>
<% end %>

<% end %>
