<%= form_for(@ex_link) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :uri %>
    <%= @ex_link.uri %>
  </div>
  <div class="field">
    <%= f.label :endpoint_uri %>
    <%= @ex_link.endpoint_uri %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
