<%= form_for(@ex_link) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :uri %>
    <%= @ex_link.uri %>
  </div>
  <div class="field">
    <%= f.label :endpoint_uri %>
    <%= @ex_link.endpoint_uri %>
  </div>
  <div class="field">
    <br>
    <span class="checkbox-set">
    <%= f.check_box :disabled %>
    <%= f.label :disabled %>
    <span class="checkbox-set">
  </div>
  <br>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t("general.show"), @ex_link, :class => 'btn' unless @ex_link.new_record? %>
    <%= link_to t("general.back_to_list"), ex_links_path, :class => 'btn' %>
  </div>
<% end %>
