<h2><%= ".title" %></h2>

<%= form_tag ex_links_path, :method => 'get', :class => 'pull-right' do %>
  <%= text_field_tag :q, params[:q], :class => 'search-query', :placeholder => 'Search' %>
<% end %>

<table class="table table-condensed table-hover ex-link-list">
  <tr>
    <th><%= ExLink.human_attribute_name :type %></th>
    <th><%= ExLink.human_attribute_name :remote_id %></th>
    <th><%= ExLink.human_attribute_name :uri %></th>
    <th><%= ExLink.human_attribute_name :short_id %></th>
    <th><%= ExLink.human_attribute_name :title %></th>
    <th><%= ExLink.human_attribute_name :access_count %></th>
    <th></th>
  </tr>

<% @ex_links.each do |ex_link| %>
  <tr>
    <td><%= link_to ex_link.typename.camelcase, ex_links_path(:type => ex_link.type) %></td>
    <td><%= ex_link.remote_id %></td>
    <td class="uri"><%= exlink(ex_link, :max_length => 30, :short_url => false, :label => ex_link.uri) %></td>
    <td><%= ex_link.short_id %></td>
    <td class="title"><%= ex_link.title.sub(/^(.{30}).*/m, '\1...') %></td>
    <td><%= ex_link.access_count %></td>
    <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_ex_link_path(ex_link) %></td>
  </tr>
<% end %>
</table>

<%= paginate @ex_links %>
