<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @ex_link.id%>
</p>

<p>
  <b>Short ID:</b>
  <%= @ex_link.short_id %>
</p>

<p>
  <b>Type:</b>
  <%= @ex_link.typename.camelcase %>
</p>

<p>
  <b>Title:</b>
  <%= @ex_link.title %>
</p>

<p>
  <b>Uri:</b>
  <%= @ex_link.uri %>
</p>

<p>
  <b>Endpoint Uri:</b>
  <%= @ex_link.endpoint_uri %>
</p>

<p>
  <b>RemoteID:</b>
  <%= @ex_link.remote_id %>
</p>


<%= link_to 'Edit', edit_ex_link_path(@ex_link) %> |
<%= link_to 'Back', ex_links_path %>
