<h2><%= t ".title" %></h2>

<div class="well">
  <%= link_to t("general.edit"), edit_ex_link_path(@ex_link), :class => 'btn' %>
  <%= link_to t(".update_attributes_by_uri"), update_by_uri_ex_link_path(@ex_link), :class => 'btn', :method => :put %>
  <%= link_to t("general.back_to_list"), ex_links_path, :class => 'btn' %>
  <%= link_to t('general.delete'), @ex_link, method: :delete, data: { confirm: t('general.delete_confirm', name: "Link ##{@ex_link.id}") }, :class => 'btn btn-danger pull-right' %>
</div>

<table class="table table-hover">
  <% %w(id short_id type title uri endpoint_uri remote_id
        updated_at created_at).each do |field| %>
  <tr>
    <th><%= ExLink.human_attribute_name field %></th>
    <td><%= @ex_link.__send__ field %></td>
  </tr>
  <% end %>
</table>

<h3><%= t ".access_history" %></h3>

<%= graph_count_by_date @ex_link.accesses.where("created_at >= ?", Date.today - 30.days),
      :created_at,
      (Date.today - 30.days)..Date.today %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th><%= ExLinkAccess.human_attribute_name :created_at %></th>
      <th><%= ExLinkAccess.human_attribute_name :user_agent %></th>
    </tr>
  </thead>
  <tbody>
    <% @ex_link.accesses.limit(10).each do |a| %>
    <tr>
      <td><%= l a.created_at %></td>
      <td><%= a.user_agent %></td>
    </tr>
    <% end %>
  </tbody>
</table>
