<h2><%= t ".title" %></h2>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Time</th>
    <th>Target</th>
    <th>ID</th>
    <th>Action</th>
    <th>User</th>
    <th>Note</th>
  </tr>

<% @histories.each do |history| %>
  <tr>
    <td><%= history.created_at.try(:strftime, "%F %T") %></td>
    <td>
      <%= link_to history.target, histories_path(:target => history.target) %>
    </td>
    <td>
      <% if history.target_id %>
      <%= link_to "##{history.target_id}", 
          histories_path(:target => history.target, :id => history.target_id) %>
      <%=
         begin
           link_to ' <i class="icon-search"></i>'.html_safe,
             polymorphic_url(history.target, :id => history.target_id)
         rescue
           # ignore all
         end
      %>
      <% end %>
    </td>
    <td><%= history.action %></td>
    <td>
      <% if history.user_id %>
      <% u = User.find(history.user_id) %>
      <%= link_to "##{u.try :id} (#{u.try :name})", histories_path(:user_id => u.try(:id)) %>
      <%= link_to_if u, ' <i class="icon-search"></i>'.html_safe, u, :title => u.try(:name) %>
      <% end %>
    </td>
    <td><%= history.note %></td>
  </tr>
<% end %>
</table>

<%= paginate @histories %>
