<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="event">

	    <%= f.label :summary %>
	    <%= f.text_field :summary %>
	    <%= f.label :start_datetime %>
	    <%= f.text_field :start_datetime %>
	    <%= f.label :end_datetime %>
	    <%= f.text_field :end_datetime %>

	    <%= f.label :description %>
	    <%= f.text_area :description %>



  </div>

  <div class="tags">
  <%= Tag.human_attribute_name :name %>
  	<%= f.fields_for :tags do |tag| %>
	    <%= tag.text_field :name %>
  	<% end %>
  </div>

  <div class="uris">
  <%= Uri.human_attribute_name :serviceName %>
  <%= Uri.human_attribute_name :uri %>
  <%= Uri.human_attribute_name :body %>
  <br />
  	<%= f.fields_for :uris do |uri| %>

	    <%= uri.text_field :serviceName %>
	    <%= uri.text_field :uri %>
	    <%= uri.text_field :body %>
    <br />
  	<% end %>
  
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
