<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="event">

	    <%= f.label :description %><br />
	    <%= f.text_field :description %>


  </div>

  <div class="uris">
  	<%= f.fields_for :uris do |uri| %>

	    <%= uri.label :serviceName %><br />
	    <%= uri.text_field :serviceName %>

	    <%= uri.label :uri %><br />
	    <%= uri.text_field :uri %>

	    <%= uri.label :body %><br />
	    <%= uri.text_area :body %>

  	<% end %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
