<%= form_tag events_path, :method => 'get', :class => 'form-inline' do %>
<div class="well well-small pull-right" style="position: relative;">
  <a class="btn btn-small" data-target="#filter-main" data-toggle="collapse"
     style="position: absolute; top: 0; right: 0; z-index: 10;">
    <%= t "general.filter"  %>
    <span class="caret"></span>
  </a>
  <div id="filter-main" class="collapse fade
   <%= 'in' if !params[:tag_id].blank? || !params[:g_calendar_id].blank? || !params[:q].blank?%> ">
    <%= text_field_tag :tag_id, [params[:tag_id]].compact.flatten.join(','),
        :placeholder => 'Tag ID (comma separated)', :title => 'Tag ID' %>
    <br>
    <%= text_field_tag :g_calendar_id, params[:g_calendar_id],
        :placeholder => 'Google calendar ID', :title => 'Google calendar ID' %>
    <br>
    <%= text_field_tag :q, params[:q], :placeholder => 'Search string',
        :title => 'Search string' %><br>
    <%= check_box_tag  :include_delete, 1, params[:include_delete] %>
    <%= label_tag      :include_delete, 'Include deleted events' %><br>
    <div class="pull-right">
      <%= link_to t('general.clear_filter'), events_path, :class => 'btn' %>
      <%= submit_tag t('general.apply_filter', :default => 'Apply Filter'), :name => '', :class => 'btn' %>
    </div>
  </div>
</div>
<% end %>

<h2><%= t ".title" %></h2>

<%= link_to t('general.create_new'), url_for(:action => :new), :class => 'btn' %>
<%= paginate @events %>
<%= render 'list' %>
<%= paginate @events %>
