<h1>Listing events</h1>

<table>
  <tr>
    <th><%= Event.human_attribute_name :id %></th>
    <th><%= Event.human_attribute_name :summary %></th>
    <th><%= Event.human_attribute_name :term %></th>
    <th><%= Event.human_attribute_name :tags %></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= link_to_if(!event.g_html_link.blank?, event.summary, event.g_html_link, :target => '_blank') { event.summary } %></td>
    <td><%= event.term_str %></td>
    <td>
      <% event.tags.each do |tag| %>
      <%= link_to tag.name, tag_events_path(tag.id) %>
      <% end %>
    </td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: t('general.delete_confirm', name: event.summary) } %></td>
  </tr>
<% end %>
</table>

<%= paginate @events %>

<br />

<%= link_to 'New Event', new_event_path %>
