<%= image_tag(@event.image.rect300.url, :style => 'position: absolute; right: 20px;') if @event.image? %>

<h2><%= t ".title" %></h2>

<table class="table table-striped">
  <% %w(id summary location twitter_hash term_str updated_at
        timezone g_id g_eid etag status).each do |field| %>
  <tr>
    <th><%= Event.human_attribute_name field %></th>
    <td><% v = @event.__send__ field %>
      <%=
         if v.kind_of?(Time) || v.kind_of?(Date)
           l(v)
         else 
           v 
         end
         %>
    </td>
  </tr>
  <% end %>
  <tr>
    <th><%= Event.human_attribute_name :tags %></th>
    <td>
      <% @event.all_tags.each do |tag| %>
      <%= link_to "#{tag.name}(#{tag.events.active.count})", tag_events_path(:tag_id => tag.id) %> &nbsp;&nbsp;
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Event.human_attribute_name :description %></th>
    <td><%= simple_format @event.description %></td>
  </tr>
</table>

<h3><%= t "general.recent_histories" %></h3>
<% @histories = @event.histories.limit(10) %>
<%= render 'history_list' %>

<div class="well">
<%= link_to t('general.open_in_editors_calendar'), @event.g_html_link, :class => 'btn'  if @event.g_html_link? %>
<%= link_to t('general.local_edit'), url_for(:action => :edit, :id => @event.id), :class => 'btn' %>
<% if can? :access, :rails_admin %>
<%= link_to t('general.open_in_rails_admin'), "#{root_path}rails_admin/event/#{@event.id}", :class => 'btn' %>
<% end %>
<%= link_to t('general.back_to_list'), url_for(:action => :index), :class => 'btn' %>

<hr>
<p class="alert alert-error">CAUTION! In general, you neeed to delete event entry on Google calendar. Be carefull to use this button!
<%= link_to t('general.delete'), @event, method: :delete, data: { confirm: t('general.delete_confirm', name: @event.summary) }, :class => 'btn btn-danger pull-right' %>
</p>
</div>
