<%= image_tag(@event.image.rect300.url, :class => 'event-image', :style => 'position: absolute; right: 20px;') if @event.image? %>

<h2><%= t ".title", :name => @event.name %></h2>

<div class="well">
<%= link_to t('general.open_in_editors_calendar'), @event.g_html_link, :class => 'btn'  if @event.g_html_link? %>
<%= link_to t('general.local_edit'), url_for(:action => :edit, :id => @event.id), :class => 'btn' %>
<% if can? :access, :rails_admin %>
<%= link_to t('general.open_in_rails_admin'), "#{root_path}rails_admin/event/#{@event.id}", :class => 'btn' %>
<% end %>
<%= link_to t('general.back_to_list'), url_for(:action => :index), :class => 'btn' %>
</div>

<h3><%= t "general.details" %></h3>
<table class="table table-striped">
  <% %w(id summary term_str location twitter_hash updated_at primary_link_uri
        timezone g_id g_eid etag status recurring_instance?).each do |field| %>
  <tr>
    <th><%= Event.human_attribute_name field %></th>
    <td><% v = @event.__send__ field %>
      <%= v.kind_of?(Time) || v.kind_of?(Date) ?  l(v) :  v  %>
    </td>
  </tr>
  <% end %>
  <% if 1|| @event.recurring_instance? %>
  <tr>
    <th><%= Event.human_attribute_name :recurrent_parent %></th>
    <td><%= p = @event.recurrent_parent; link_to "##{p.try(:id)}", p if p %>
    </td>
  </tr>
  <% end %>
  <% if 1|| @event.recurrent_children.length > 0 %>
  <tr>
    <th><%= Event.human_attribute_name :recurrent_children %></th>
    <td>
      <% @event.recurrent_children.each do |e| %>
      <%= link_to "##{e.id}", e %>,
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <th><%= Event.human_attribute_name :tags %></th>
    <td>
      <% @event.all_tags.each do |tag| %>
      <%= format_tag tag, :show_icon => true, :edit_icon => false %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Event.human_attribute_name :src_calendar %></th>
    <td><%= link_to_if @event.src_calendar, @event.src_calendar.try(:name), @event.src_calendar %></td>
  </tr>
  <tr>
    <th><%= Event.human_attribute_name :dst_calendars %></th>
    <td>
      <% @event.dst_calendars.each do |cal| %>
      <%= link_to cal.name, cal %> &nbsp;&nbsp;
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= Event.human_attribute_name :description %></th>
    <td><%= simple_format auto_link @event.description %></td>
  </tr>
  <tr>
    <th><%= Event.human_attribute_name :related_links %></th>
    <td><% @event.related_links.each do |link| %>
      <li><%= format_ex_link link %></li>
      <% end%>
    </td>
  </tr>
</table>

<h3><%= t "general.recent_histories" %></h3>
<% @histories = @event.histories.limit(10) %>
<%= render 'histories/list_without_target' %>
<ul class="pager"><li class="next">
<%= link_to t('general.more'), event_histories_path(@event) %>
</li></ul>

<p class="alert alert-error">
  <%= link_to t('general.delete'), @event, method: :delete, data: { confirm: t('general.delete_confirm', name: @event.summary) }, :class => 'btn btn-danger pull-right' %>
  <b>!CAUTION!</b> You can set the event status to 'cancelled' on locally by this button.
  In general, you should delete the event entry on Google calendar.
  Be carefull to use this button!
</p>
