<%= form_for @calendar do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :user %>
<%= f.collection_select :user_id, User.all, :id, :name %>
<%= f.label :external_id %>
<%= f.text_field :external_id %>
<%= f.label :io_type %>
<%= f.radio_button :io_type, "src" %>
<%= f.label :io_type_src, :style => 'display: inline' %>
<%= f.radio_button :io_type, "dst" %>
<%= f.label :io_type_dst, :style => 'display: inline' %><br>
<%= f.label :tags %> 
<div class="tag-check-list">
<% Tag.all.each do |tag| %>
  <span style="white-space: nowrap; margin-right: 1em;">
    <%= f.check_box :tag_ids, {:name => "calendar[tag_ids][]", :id => "calendar_tag_ids_#{tag.id}"}, tag.id, nil %>
    <%= f.label "tag_ids_#{tag.id}", tag.name, :style => 'display: inline' %>
  </span>
<% end %>
</div>
<p class="note">target events to sync (output mode only)</p>

<%= f.label :tag_names_append_str %>
<%= f.text_field :tag_names_append_str %>
<%= f.label :tag_names_remove_str %>
<%= f.text_field :tag_names_remove_str %>

<br>
<%= f.submit :class => 'btn' %>

<% end %>
