<%= form_for @calendar do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :user %>
<%= f.collection_select :user_id, User.admins, :id, :name %>
<%= f.label :external_id %>
<% if @calendar.new_record? %>
<%= f.text_field :external_id %>
<% else %>
<%= @calendar.external_id %>
<% end %>
<%= f.label :io_type %>
<div>
  <span class="radiobutton-set">
    <%= f.radio_button :io_type, "src" %>
    <%= f.label :io_type_src %>
  </span>
  <span class="radiobutton-set">
    <%= f.radio_button :io_type, "dst" %>
    <%= f.label :io_type_dst %>
  </span>
</div>
<% if @calendar.new_record? || @calendar.io_type == 'dst' %>
<%= f.label :tags %> 
<div class="tag-check-list">
<% Tag.order('name').each do |tag| %>
  <span class="checkbox-set">
    <%= f.check_box :tag_ids, {:name => "calendar[tag_ids][]", :id => "calendar_tag_ids_#{tag.id}"}, tag.id, nil %>
    <%= f.label "tag_ids_#{tag.id}", tag.name %>
    <%= bs_icon('eye-close') if tag.hidden? %>
  </span>
<% end %>
</div>
<p class="note"><%= t "general.sync_calendar_tag_note" %></p>
<% end %>

<%= f.label :tag_names_append_str %>
<%= f.text_field :tag_names_append_str %>
<%= f.label :tag_names_remove_str %>
<%= f.text_field :tag_names_remove_str %>

<br>
<%= f.submit :class => 'btn btn-primary' %>
<%= link_to t("general.back_to_list"), calendars_path, :class => 'btn' %>

<% end %>
