<h2><%= t ".title" %></h2>

<table>
  <thead>
    <tr>
      <th><%= Calendar.human_attribute_name :name %></th>
      <th><%= Calendar.human_attribute_name :io_type %></th>
      <th><%= Calendar.human_attribute_name :sync_finished_at %></th>
      <th><%= Calendar.human_attribute_name :fetched_events %></th>
      <th><%= Calendar.human_attribute_name :target_events %></th>
      <th></th>
  </thead>
  <tbody>
    <% @calendars.each do |cal| %>
    <tr>
      <td><%= link_to cal.name, edit_calendar_path(cal) %></td>
      <td><%= t "activerecord.attributes.calendar.io_type_#{cal.io_type}" %></td>
      <td><%= cal.sync_finished_at.blank? ? '' : l(cal.sync_finished_at) %></td>
      <td><%= cal.fetched_events.count %></td>
      <td><%= cal.target_events.count %></td>
      <td><%= link_to %Q{<i class="icon-trash" title="#{t 'general.delete'}"></i>}.html_safe, cal, confirm: t("general.delete_confirm", name: "#{cal.name} (#{cal.external_id})"), method: :delete %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("general.add"), new_calendar_path, :class => 'btn' %>

