<h2><%= t ".title" %></h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= Calendar.human_attribute_name :name %></th>
      <th><%= Calendar.human_attribute_name :user %></th>
      <th><%= Calendar.human_attribute_name :io_type %></th>
      <th><%= Calendar.human_attribute_name :sync_finished_at %></th>
      <th><%= Calendar.human_attribute_name :fetched_events %></th>
      <th><%= Calendar.human_attribute_name :target_events %></th>
      <th></th>
  </thead>
  <tbody>
    <% @calendars.each do |cal| %>
    <tr>
      <td><%= link_to cal.name, "https://www.google.com/calendar/embed?src=#{cal.external_id}&ctz=Asia/Tokyo", :target => '_blank' %></td>
      <td><%= link_to_if cal.user, cal.user.try(:name), cal.user %></td>
      <td><%= t "activerecord.attributes.calendar.io_type_#{cal.io_type}" %></td>
      <td><%= cal.sync_finished_at.blank? ? '' : l(cal.sync_finished_at) %></td>
      <td><%= link_to cal.fetched_events.active.count, events_path(:g_calendar_id => cal.external_id) %></td>
      <td><%= link_to cal.target_events.active.count, events_path(:tag_id => cal.tag_ids) %></td>
      <td><%= link_to %Q{<i class="icon-pencil"></i>#{t('general.edit')}}.html_safe, edit_calendar_path(cal) %>
        <%= link_to %Q{<i class="icon-trash" title="#{t 'general.delete'}"></i>#{t 'general.delete'}}.html_safe, cal, confirm: t("general.delete_confirm", name: "#{cal.name} (#{cal.external_id})"), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("general.add"), new_calendar_path, :class => 'btn' %>

