<h2><%= t ".title" %></h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= Calendar.human_attribute_name :name %></th>
      <th><%= Calendar.human_attribute_name :user %></th>
      <th><%= Calendar.human_attribute_name :io_type %></th>
      <th><%= Calendar.human_attribute_name :sync_finished_at %></th>
      <th><%= Calendar.human_attribute_name :fetched_events %></th>
      <th><%= Calendar.human_attribute_name :target_events %></th>
      <th></th>
  </thead>
  <tbody>
    <% @calendars.each do |cal| %>
    <tr>
      <td>
        <%= link_to cal.name, cal %>
        <%= link_to '<i class="icon-calendar"></i>'.html_safe, "https://www.google.com/calendar/embed?src=#{cal.external_id}" if cal.external_id? %>
      </td>
      <td><%= link_to_if cal.user, cal.user.try(:name), cal.user %></td>
      <td><%= t "activerecord.attributes.calendar.io_type_#{cal.io_type}" %></td>
      <td><%= l(cal.sync_finished_at) if cal.sync_finished_at? %></td>
      <td><%= link_to cal.fetched_events.active.count(:id), events_path(:g_calendar_id => cal.external_id) %></td>
      <td><%= link_to cal.target_events.active.count(:id), events_path(:tag_id => cal.tag_ids) %></td>
      <td><%= link_to %Q{<i class="icon-pencil"></i>#{t('general.edit')}}.html_safe, edit_calendar_path(cal) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("general.create_new"), new_calendar_path, :class => 'btn' %>

