<h2><%= t ".title" %></h2>

<%= link_to t('general.create_new'), new_tag_path, :class => 'btn' %>

<%= paginate @tags %>

<div class="clearfix">

<% @tags.each_slice((@tags.length.to_f / 3).ceil) do |cur_tags| %>
<table class="table table-hover pull-left tag-list">
  <tr>
    <th><%= Tag.human_attribute_name :name %></th>
    <th><%= Tag.human_attribute_name :event_count %></th>
    <th></th>
  </tr>

<% cur_tags.each do |tag| %>
  <tr>
    <td>
      <%= link_to tag.name, tag %>
    </td>
    <td><%= link_to tag.events.active.count(:id), events_path(:tag_id => tag.id) %></td>
    <td><%= link_to bs_icon('pencil'), edit_tag_path(tag) %></td>
  </tr>
<% end %>
</table>
<% end %>

</div>

<%= paginate @tags %>
