<!DOCTYPE html>
<html>
<head>
  <title>VocalendarCore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% [:error, :alert, :notice].each do |level| %>
  <% flash[level].blank? and next %>
  <ul class="flashmsg fade in alert alert-<%= {:notcie => 'info', :error => 'error', :alert => 'warning'}[level]%>">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <% [flash[level]].flatten.each do |fm| %>
      <li><%= fm %></li>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
